.header {
    background-color: dimgray;
    width: 100%;
    height: 100px;

}

.navbar {
    background-color: teal;
    width: 100%;
    height: 40px;
}

.container-main {
    background-color: aquamarine;
    margin-top: 20px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
}
